<!DOCTYPE html> 
<html lang="en"> 
<head> 
 <title>Reporting Dashborad/Widget View</title> 
 <meta charset="utf-8"> 
 <link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
</head> 
<body> 
<div class="container"> 
<table class="table table-striped"> 
 <thead> 
 <tr> 
 <th>Student ID</th> 
 <th>Roll No</th> 
 <th>Student Name</th> 
 <th>Class</th> 
 <th>Department</th> 
 </tr> 
 </thead> 
 <tbody> 
 {% for stud in student %} 
 <tr> 
 <td>{{stud.id}}</td> 
 <td>{{stud.roll_no}}</td> 
 <td>{{stud.name}}</td> 
 <td>{{stud.stud_class}}</td> 
 <td>{{stud.department}}</td> 
 </tr> 
 {% endfor %} 
 </tbody> 
</table> 
</div> 
<!-- Customer table -->
<div class="container"> 
    <table class="table table-striped"> 
     <thead> 
     <tr> 
     <th>Customer Id</th>
     <th>Customer Firstname</th> 
     <th>Customer Lastname</th> 
     <th>Customer Country</th> 
     <th>Customer Comment</th> 
     </tr> 
     </thead> 
     <tbody> 
{% for cust in customer %} 
     <tr>
     <td>{{cust.id}}</td> 
     <td>{{cust.firstname}}</td> 
     <td>{{cust.lastname}}</td> 
     <td>{{cust.country}}</td> 
     <td>{{cust.subject}}</td> 
     </tr> 
{% endfor %} 
     </tbody> 
    </table> 
    </div> 
<!-- marketing table -->
<div class="container"> 
    <table class="table table-striped"> 
     <thead> 
     <tr>
     <th>ID</th> 
     <th>Username</th> 
     <th>Email</th> 
     <th>Password</th>
     </tr> 
     </thead> 
     <tbody> 
{% for mark in market %} 
     <tr> 
     <td>{{mark.id}}</td>
     <td>{{mark.usrnm}}</td> 
     <td>{{mark.email}}</td> 
     <td>{{mark.psw}}</td> 
     </tr> 
{% endfor %} 
     </tbody> 
    </table> 
    </div>

</body> 
</html> 
